/coverage/
/packages/*/coverage
/packages/test-runner-mocha/*.js
/packages/test-runner-mocha/*.d.ts
/packages/config-loader/
/packages/*/test/**/fixtures
/packages/*/test/**/snapshots
/packages/dev-server-rollup/test/browser/**/*
/integration/test-runner/tests/*/browser-tests
/packages/dev-server-storybook/storybook-static/**/*
/packages/dev-server-hmr/scripts/**/*
/packages/test-runner/demo/
/node_modules/
/packages/*/node_modules/
dist
demo
CHANGELOG.md
.changeset
_site
