## editors
/.idea
/.vscode

# @11ty/eleventy-cache-assets
.cache

## system files
.DS_Store

## code coverage folders
coverage/

## npm
/node_modules/
/packages/*/node_modules/
npm-debug.log
yarn-error.log

## temp folders
/.tmp/

## we prefer yarn.lock
package-lock.json
## lock files in packages we do not need to save
packages/*/yarn.lock

## build output
/dist
/packages/*/dist
tsconfig.tsbuildinfo
_site
_site-dev
stats.html

local.log

/packages/dev-server-storybook/storybook-static
/packages/*/screenshots/*/failed

## Rocket ignore files (need to be the full relative path to the folders)
docs/_merged_data/
docs/_merged_assets/
docs/_merged_includes/
