html {
  --page-background: white;
  --footer-background: rgba(0, 0, 0, 0.1);
  --primary-color: #235f8a;
  --primary-color-lighter: #449ad7;
  --primary-color-darker: #1a5285;
  --primary-color-accent: #cee5f6;
  --contract-color-light: #fff;
  --contract-color-dark: #1d3557;
  --primary-text-color: #2c3e50;
}

/* TODO: markdown Vars */

/* SEE: https://github.com/daKmoR/rocket/pull/18 */

@media (prefers-color-scheme: dark) {
  html {
    --footer-background: rgba(255, 255, 255, 0.1);
    --page-background: #212121;
    --primary-text-color: #eee;
    --primary-color: #3f93ce;
    --primary-color-lighter: #449ad7;
    --primary-color-darker: #1a5285;
    --primary-color-accent: #cee5f6;
    --contract-color-light: #fff;
    --contract-color-dark: #1d3557;

    /* Markdown */
    --markdown-octicon-link: var(--primary-text-color);
    --markdown-body: #24292e;
    --markdown-link-color: #75b3f9;
    --markdown-divider-color: #e1e4e8;
    --markdown-blockquote-border-color: #dfe2e5;
    --markdown-blockquote-color: #6a737d;
    --markdown-kbd-background-color: #fafbfc;
    --markdown-kbd-border-color: #c6cbd1;
    --markdown-kbd-border-bottom-color: #959da5;
    --markdown-kbd-color: #444d56;
    --markdown-heading-color-6: #6a737d;
    --markdown-table-background-color: #fff;
    --markdown-table-border-color: #c6cbd1;
    --markdown-table-row-odd-background-color: #f6f8fa;
    --markdown-code-background-color: rgba(27, 31, 35, 0.05);
    --markdown-pre-background-color: #2e3440;

    /* syntax */
    --markdown-syntax-color: #f8f8f2;
    --markdown-syntax-background-color: #2e3440;
    --markdown-syntax-atrule-color: #88c0d0;
    --markdown-syntax-attr-name-color: #a3be8c;
    --markdown-syntax-attr-value-color: #88c0d0;
    --markdown-syntax-builtin-color: #a3be8c;
    --markdown-syntax-boolean-color: #81a1c1;
    --markdown-syntax-class-name-color: #88c0d0;
    --markdown-syntax-constant-color: #81a1c1;
    --markdown-syntax-char-color: #a3be8c;
    --markdown-syntax-deleted-color: #81a1c1;
    --markdown-syntax-entity-color: #81a1c1;
    --markdown-syntax-function-color: #88c0d0;
    --markdown-syntax-inserted-color: #a3be8c;
    --markdown-syntax-keyword-color: #81a1c1;
    --markdown-syntax-number-color: #b48ead;
    --markdown-syntax-operator-color: #81a1c1;
    --markdown-syntax-property-color: #81a1c1;
    --markdown-syntax-punctuation-color: #81a1c1;
    --markdown-syntax-regex-color: #81a1c1;
    --markdown-syntax-important-color: #81a1c1;
    --markdown-syntax-selector-color: #a3be8c;
    --markdown-syntax-symbol-color: #81a1c1;
    --markdown-syntax-string-color: #a3be8c;
    --markdown-syntax-tag-color: #81a1c1;
    --markdown-syntax-url-color: #81a1c1;
    --markdown-syntax-variable-color: #81a1c1;
    --markdown-syntax-hotkey-selector-color: #d73a49;
    --markdown-syntax-keyword-color: #22863a;
    --markdown-table-background-color: #212121;
    --markdown-table-row-odd-background-color: #515151;
    --markdown-table-border-color: #8e8e8e;
  }

  .language-css {
    --markdown-syntax-string-color: #81a1c1;
  }
}
