name: Verify Storybook Builder

on: pull_request

jobs:
  verify-storybook-builder:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.runs-on }}
    name: ${{ matrix.runs-on }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node 22
        uses: actions/setup-node@v4
        env:
          FORCE_COLOR: 0
        with:
          node-version: 22
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Symlink built packages binaries (e.g. "wds")
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run tests
        run: npm run test:storybook-builder

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.runs-on }}
          path: packages/storybook-framework-web-components/playwright-report/
          retention-days: 30
