name: Verify Windows

on: pull_request

jobs:
  verify-windows:
    timeout-minutes: 30
    name: Verify windows
    runs-on: windows-2022
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v3

      - name: Setup Node '18'
        uses: actions/setup-node@v3
        env:
          FORCE_COLOR: 0
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install Playwright dependencies
        run: npx playwright install-deps

      # Set up GitHub Actions caching for Wireit.
      - uses: google/wireit@setup-github-actions-caching/v1

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      # build for production in CI to make sure tests can run with production build
      - name: Build specific packages for production
        run: npm run build:production

      - name: Test
        run: npm run test
