name: Verify Node

on: pull_request

env:
  FORCE_COLOR: true

jobs:
  verify-linux:
    name: Verify linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - '16'
          - '18'
          - '19'

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        env:
          FORCE_COLOR: 0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install Playwright dependencies
        run: npx playwright install-deps

      - name: Install Chrome 113
        run: |
          VERSION_STRING="113.0.5672.63-1"
          wget "https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_${VERSION_STRING}_amd64.deb"
          sudo dpkg -i "google-chrome-stable_${VERSION_STRING}_amd64.deb"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build packages
        run: yarn build

      # build for production in CI to make sure tests can run with production build
      - name: Build for production
        run: yarn build:production

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
