name: Verify Browserstack

on: pull_request

jobs:
  verify-browserstack:
    name: Verify Browserstack

    # Run the job if it's not triggered by a PR or if the PR is from the same repository
    # This is because this job requires a secret, and secrets cannot be shared with forks
    if: github.event.pull_request == null || github.event.pull_request.head.repo.full_name == github.repository

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Test
        run: |
          cd packages/test-runner-browserstack
          yarn test
        env:
          BROWSER_STACK_ACCESS_KEY: ${{ secrets.BROWSER_STACK_ACCESS_KEY }}
          BROWSER_STACK_USERNAME: ${{ secrets.BROWSER_STACK_USERNAME }}
